body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-color: #f5f5f5;
    overflow: auto;
    width: 180px;
    margin: 5px 10px;
}

.content {
    margin-top: 10px;
}