<html>
    <head>
        <meta charset="utf-8" />
        
        <title>No Coin</title>
        
        <link rel="stylesheet" type="text/css" href="../styles/popup.css" />
    </head>
    <body>
        <div class="header">
            <img src="../img/logo_enabled.png" class="logo" />
            <h1 class="title">No Coin</h1>
        </div>
        <ul class="actions">
            <li class="toggle">Unpause No Coin</li>
            <li class="list whitelist" data-time="1">White list for 1 min</li>
            <li class="list whitelist" data-time="30">White list for 30 min</li>
            <li class="list whitelist" data-time="0">White list permantently</li>
            <li class="list blacklist">Remove from white list</li>
        </ul>
        
        <script src="../js/popup.js"></script>
    </body>
</html>