<html>
    <head>
        <title>No Coin</title>

        <link rel="stylesheet" type="text/css" href="../styles/popup.css" />

        <script src="../js/jquery.min.js"></script>
        <script src="../js/popup.js"></script>
    </head>
    <body>
        <div class="header">
            <img src="../img/logo.png" class="logo" />
            <h1 class="title">No Coin</h1>
        </div>
        <ul class="actions">
            <li class="toggle">Enable No Coin</li>
        </ul>
    </body>
</html>